## Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

In [5]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
list = [1,2,3,4,5,6,7,8,9,0]
print(pd.Series(data))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [8]:
data1 = data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
print(pd.DataFrame(data1))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It can be thought of as a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame is a Pandas Series. A Series, on the other hand, is a one-dimensional labeled array.

DataFrame:-
Structure: Two-dimensional, tabular structure with rows and columns.
Creation: Can be created from various data structures, such as lists, dictionaries, NumPy arrays, and other DataFrames.
Usage: Suitable for working with tabular data, handling heterogeneous data types, and performing operations on entire datasets.

Series:-
Structure: One-dimensional labeled array.
Creation: Can be created from various data structures, such as lists, NumPy arrays, and other Series.
Usage: Suitable for working with a single column of data, performing element-wise operations, and extracting subsets of data.

## What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?


Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions:

head and tail function: These functions allow you to view the first or last N rows of your dataFrame.

In [12]:
# Display the first 5 rows of the DataFrame
series.head()

0     4
1     8
2    15
3    16
4    23
dtype: int64

info function: Provides a concise summary of the dataFrame, including the data types and missing values.

In [13]:
# Display information about the DataFrame
series.info()

<class 'pandas.core.series.Series'>
RangeIndex: 6 entries, 0 to 5
Series name: None
Non-Null Count  Dtype
--------------  -----
6 non-null      int64
dtypes: int64(1)
memory usage: 176.0 bytes

## Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas: Series is mutable. DataFrame is mutable. Panel is deprecated since version 0.25.0 and is not recommended for use. Instead, you should use Panel-like operations on multi-index DataFrames. Multi-index DataFrames are mutable.
So, both Series and DataFrame are mutable, meaning you can modify their values, add or remove elements, and perform various operations that change the content of the data structures.

## Create a DataFrame using multiple Series. Explain with an example.